<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h2> MENU </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  
    <img src="assets/imgs/JYC_logo.png" class="img1" >
  <ion-list>
    <ion-item routerLink= "/comercial-home">
      <ion-icon name="people" slot="start"></ion-icon>
      COMERCIAL
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>


    <ion-item routerLink= "/proyectos-home">
      <ion-icon name="construct" slot="start"></ion-icon>
      PROYECTOS
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item routerLink= "/tecnico-home">
      <ion-icon name="hammer"slot="start"></ion-icon>
              AREA TECNICA
      <ion-icon name="ios-arrow-forward" slot="end" ></ion-icon>
      

    </ion-item>

  


    <ion-item routerLink= "/login">
      <ion-icon name="contact" slot="start"></ion-icon>
      ADMINISTRATIVO
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="call" slot="start"></ion-icon>
      CALL-CENTER
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="md-cash" slot="start"></ion-icon>
      COBRANZA
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      ENCUESTA
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="pin" slot="start"></ion-icon>
      LOCALIZACION-GPS
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <br />

  <h1>CALL-CENTER 800-121213</h1>

  <p>
    llamada Gratuita 24hrs.
  </p>


</ion-content>
