<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
      <h2>
        R - 102
      </h2> 
    </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <div>
        <ion-header>
            <ion-toolbar >          
                <ion-item>
                    <ion-label>NOMBRE DE LA OBRA</ion-label>
                    <ion-select placeholder="Seleccione el edificio">
                      <ion-select-option value="0">SKYE</ion-select-option>
                      <ion-select-option value="1">PACIFIC</ion-select-option>
                    </ion-select>
                  </ion-item>
            </ion-toolbar>
          </ion-header>
      
    </div>

    <div class="container">
        <details class="default square">
          <summary>COMERCIAL RESPONSABLE</summary>
    

        </details>
    
        <details class="primary square">
          <summary>DATOS DE OBRA</summary>
          
         </details>
    
    
    
        <details class="success">
          <summary>DATOS DE CLIENTE</summary>
          
         funciona
    
        </details>

        <details class="cgenerales">
            <summary>CARACTERISTICA GENERALES</summary>
            
           funciona
      
          </details>

          
          <details class="pprincipal">
              <summary>PUERTAS DE PISO PRINCIPAL</summary>
              
             funciona
        
            </details>
            <details class="potras">
                <summary>PUERTAS DE OTROS PISOS</summary>
                
               funciona
          
              </details>
              <details class="pmandosenal">
                  <summary>PANELES DE MANDO Y SEÑAL</summary>
                  
                 funciona
            
                </details>
                <details class="dcabina">
                    <summary>DISEÑO DE CABINA</summary>
                    
                   funciona
              
                  </details>

                  
                  <details class="ocabina">
                      <summary>OBSERVACIONES DE CABINA</summary>
                      
                     funciona
                
                    </details>

                    
                    <details class="aedificio">
                        <summary>ADAPTABILIDAD DE EDIFICIO</summary>
                        
                       funciona
                  
                      </details>

                      
                      <details class="cpprincipal">
                          <summary>CONTROL Y PISO PRINCIPAL</summary>
                          
                         funciona
                    
                        </details>

                        <details class="observacion">
                            <summary>OBSERVACIONES</summary>
                            
                           funciona
                      
                          </details>


      </div>
    



</ion-content>
