<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
      <h2>
        R - 102
      </h2> 
    </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

      <ion-item>
        <ion-label> SELECCIONE EL EDIFICIO  </ion-label>
    
        <ionic-selectable
    
        [(ngModel)]="user"
        [items]="users"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="userChanged($event)">
        
      </ionic-selectable>
    
      </ion-item>
      
    

    <div class="container">
        <details class="default square">
          <summary>COMERCIAL RESPONSABLE</summary>
          <ion-item>
            <ion-label> SELECCIONE UN RESPONSABLE  </ion-label>
        
            <ionic-selectable
        
            [(ngModel)]="userR"
            [items]="usersR"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="userChangedR($event)">
            
          </ionic-selectable>
        
          </ion-item>

        </details>
    
        <details class="primary square">
          <summary>DATOS DE OBRA</summary>

          <ion-item>
              <ion-label style="text-align:left">NOMBRE EDIFICIO:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>
          
          <ion-item>
            <ion-label style="text-align:left">CIUDAD:</ion-label>
            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label style="text-align:left">DIRECCION:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label style="text-align:left">ZONA:</ion-label>
                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
              </ion-item>

         </details>
    
    
    
        <details class="success">
          <summary>DATOS DE CLIENTE</summary>
          
          <ion-item>
              <ion-label style="text-align:left">NOMBRE:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>
          
          <ion-item>
            <ion-label style="text-align:left">CORREO:</ion-label>
            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label style="text-align:left">TELEFONO:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>

    
        </details>

        <details class="cgenerales">
            <summary>CARACTERISTICA GENERALES</summary>
            
            <ion-item>
                <ion-label style="text-align:left">FAMILIA:</ion-label>
                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label style="text-align:left">MODELO:</ion-label>
                  <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="text-align:left">CAPACIDAD:</ion-label>
                    <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label style="text-align:left">PARADAS:</ion-label>
                      <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label style="text-align:left">VELOCIDAD:</ion-label>
                        <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-label style="text-align:left">RECORRIDO (mm):</ion-label>
                          <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label style="text-align:left">EMBARQUES:</ion-label>
                            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label style="text-align:left">ACCESO:</ion-label>
                              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label style="text-align:left">MANIOBRA:</ion-label>
                                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                            </ion-item>


      
          </details>

          
          <details class="pprincipal">
              <summary>PUERTAS DE PISO PRINCIPAL</summary>
              
              <ion-item>
                  <ion-label style="text-align:left">MATERIAL:</ion-label>
                  <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
              </ion-item>
              
              
            </details>
            <details class="potras">
                <summary>PUERTAS DE OTROS PISOS</summary>
                
                <ion-item>
                    <ion-label style="text-align:left">MATERIAL:</ion-label>
                    <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                </ion-item>
          
              </details>
              <details class="pmandosenal">
                  <summary>PANELES DE MANDO Y SEÑAL</summary>
                  
                  <ion-item>
                      <ion-label style="text-align:left">SEÑALIZACION CABINA</ion-label>
                      <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                  </ion-item>
                  
                  <ion-item>
                      <ion-label style="text-align:left">SEÑALIZACION PISO</ion-label>
                      <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label style="text-align:left">CANTIDAD SEÑALIZADORES</ion-label>
                      <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                  </ion-item>



                </details>
                <details class="dcabina">
                    <summary>DISEÑO DE CABINA</summary>
                    
                    <ion-item>
                        <ion-label style="text-align:left">ESTETICA DE CABINA</ion-label>
                        <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                    </ion-item>
  
              
                  </details>

                  
                  <details class="ocabina">
                      <summary>OBSERVACIONES DE CABINA</summary>
                      
                      <ion-item>
                          
                          <ion-input placeholder="Placeholder"></ion-input>
                      </ion-item>
                
                    </details>

                    
                    <details class="aedificio">
                        <summary>ADAPTABILIDAD DE EDIFICIO</summary>
                        
                        <ion-item>
                            <ion-label style="text-align:left">TENSION DE FUERZA</ion-label>
                            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                        </ion-item>
                  
                      </details>

                      
                      <details class="cpprincipal">
                          <summary>CONTROL Y PISO PRINCIPAL</summary>
                          <ion-item>
                              <ion-label style="text-align:left">RESCATE</ion-label>
                              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label style="text-align:left">GENERADOR</ion-label>
                              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                          </ion-item>
                    
                        </details>

                        <details class="observacion">
                            <summary>OBSERVACIONES</summary>
                            <ion-item>
                            <ion-input placeholder="Placeholder"></ion-input>
                          </ion-item>
                      
                          </details>


      </div>
    



</ion-content>
