h2{ 
    text-align: center;
}

ion-icon {
    font-size: 29px; //Preferred size here
}

// Colors
$default: #32db64;
$primary: #32db64;
$sucess: #32db64;

$cgenerales: #32db64;
$pprincipal: #32db64;
$potras: #32db64;

$pmandosenal: #32db64;
$dcabina: #32db64;
$ocabina: #32db64;

$aedificio: #32db64;
$cpprincipal: #32db64;
$observacion: #32db64;

// Some Reset
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	font-family: "Open Sans", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: none;
	height: none;
	background-color: #ffffff;
}

// Change component color
@mixin states($color: $default) {
	border-color: $color;
	color: rgba(255, 255, 255, 0.9);
	background: $color;

	&:hover {
		border-color: $color;
		color: rgba(255, 255, 255, 0.6);
	}
	&:active {
		color: rgba(255, 255, 255, 0.9);
		border-color: darken($color, 10%);
	}
}

// Collapse / Expand Component
details {
	@include states($default);
	border: 1px solid;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 4px;
	min-height: 48px;
	max-height: 60px;
	transform-origin: top center;
	transform: rotate(0.1deg);
    transition: all 0.3s;
   
    ::-webkit-details-marker {
		display: none;
	}

	+ details {
		margin-top: 10px;
	}

	p {
		color: #030303;
		line-height: 1.7;
		margin: 10px 0 0;
		padding: 0 20px 15px;
	
	}

	// Primary Style
	&.primary {
		@include states($primary);	
	}

	// Success Style
	&.success {
		@include states($sucess);
		
	}

	// Square Style
	&.square {
		border-radius: 0;
    }
    
    &.cgenerales{
        @include states($cgenerales);
    }

    &.pprincipal{
        @include states($pprincipal);
    }

    &.potras{
        @include states($potras);
    }


    &.pmandosenal{
        @include states($pmandosenal);
    }

    &.dcabina{
        @include states($dcabina);
    }


    &.ocabina{
        @include states($ocabina);
    }

    &.aedificio{
        @include states($aedificio);
    }

    &.cpprincipal{
        @include states($cpprincipal);
    }

    &.observacion{
        @include states($observacion);

    }


	&[open] {
		transition: all 0.6s;
		min-height: none;
        max-height: none;
		
	}
}

summary {
	outline: none;
	font-size: 16px;
    padding: 13px;
    
	
	
	&:selection {
		background: transparent;
	}

	&:after {
		margin-top: 2px;
		content: "➕";
		float: left;
		margin-right: 11px;
		text-align: center;
        font-size: 11px;
 
		

		[open] & {
			padding: 0 0 12px 0;
			content: "➖";
			
		}
	}
}