  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
   
            <h2> R - 102 </h2> 
 
       
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

      <ion-item>
        <ion-label> SELECCIONE EL EDIFICIO  </ion-label>
    
        <ionic-selectable
    
        [(ngModel)]="user"
        [items]="users"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="userChanged($event)">
        
      </ionic-selectable>
    
      </ion-item>
      
    

    <div class="container">
        <details class="default square">
          <summary>COMERCIAL RESPONSABLE</summary>
          <ion-item>
            <ion-label> SELECCIONE UN RESPONSABLE  </ion-label>
        
            <ionic-selectable
        
            [(ngModel)]="userR"
            [items]="usersR"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="userChangedR($event)">
            
          </ionic-selectable>
        
          </ion-item>

        </details>
    
        <details class="primary square">
          <summary>DATOS DE OBRA</summary>

          <ion-item>
              <ion-label style="text-align:left">NOMBRE EDIFICIO:</ion-label>
              <ion-label style="text-align:right"> {{user.name}} </ion-label>

            </ion-item>
          
          <ion-item>
            <ion-label style="text-align:left">CIUDAD:</ion-label>
            <ion-label style="text-align:right"> {{user.ciudad}} </ion-label>

          </ion-item>

          <ion-item>
              <ion-label style="text-align:left">DIRECCION:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label style="text-align:left">ZONA:</ion-label>
                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
              </ion-item>

         </details>
    
    
    
        <details class="success">
          <summary>DATOS DE CLIENTE</summary>
          
          <ion-item>
              <ion-label style="text-align:left">NOMBRE:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>
          
          <ion-item>
            <ion-label style="text-align:left">CORREO:</ion-label>
            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label style="text-align:left">TELEFONO:</ion-label>
              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
            </ion-item>

    
        </details>

        <details class="cgenerales">
            <summary>CARACTERISTICA GENERALES</summary>
            
            <ion-item>
                <ion-label style="text-align:left">FAMILIA:</ion-label>
                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label style="text-align:left">MODELO:</ion-label>
                  <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="text-align:left">CAPACIDAD:</ion-label>
                    <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label style="text-align:left">PARADAS:</ion-label>
                      <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label style="text-align:left">VELOCIDAD:</ion-label>
                        <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-label style="text-align:left">RECORRIDO (mm):</ion-label>
                          <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label style="text-align:left">EMBARQUES:</ion-label>
                            <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                          </ion-item>

                          <ion-item>
                              <ion-label style="text-align:left">ACCESO:</ion-label>
                              <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label style="text-align:left">MANIOBRA:</ion-label>
                                <ion-input style="text-align:right" placeholder="Placeholder"></ion-input>
                            </ion-item>


      
          </details>

          
            <details class="pprincipal">
              <summary>PUERTAS DE PISO PRINCIPAL</summary>


              <ion-list>

                <ion-item>
                  <ion-label>MATERIAL</ion-label>
                  <ion-select placeholder="Seleccione">
                    <ion-select-option value="0"> INOX </ion-select-option>
                    <ion-select-option value="1"> CHAPA </ion-select-option>
                    <ion-select-option value="2"> OTRO </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-list>



            </details>
            <details class="potras">
                <summary>PUERTAS DE OTROS PISOS</summary>
                
               
              <ion-list>

                <ion-item>
                  <ion-label>MATERIAL</ion-label>
                  <ion-select placeholder="Seleccione">
                    <ion-select-option value="0"> INOX </ion-select-option>
                    <ion-select-option value="1"> CHAPA </ion-select-option>
                    <ion-select-option value="2"> OTRO </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-list>
          
              </details>
              <details class="pmandosenal">
                  <summary>PANELES DE MANDO Y SEÑAL</summary>
                  
                                 
              <ion-list>

                <ion-item>
                  <ion-label>SEÑALIZACION CABINA</ion-label>
                  <ion-select placeholder="Seleccione">
                    <ion-select-option value="0"> 7 SEG </ion-select-option>
                    <ion-select-option value="1"> MATRIZ </ion-select-option>
                    <ion-select-option value="2"> TFT </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-list>

                             
              <ion-list>

                <ion-item>
                  <ion-label>SEÑALIZACION PISO </ion-label>
                  <ion-select placeholder="Seleccione">
                    <ion-select-option value="0"> 7 SEG </ion-select-option>
                    <ion-select-option value="1"> MATRIZ </ion-select-option>
                    <ion-select-option value="2"> TFT </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-list>

                             
              <ion-list>

                <ion-item>
                  <ion-label>CANTIDAD SEÑALIZADORES</ion-label>
                  <ion-select placeholder="Seleccione">
                    <ion-select-option value="0"> 7 SEG </ion-select-option>
                    <ion-select-option value="1"> MATRIZ </ion-select-option>
                    <ion-select-option value="2"> TFT </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-list>




                </details>
                <details class="dcabina">
                    <summary>DISEÑO DE CABINA</summary>
                    <ion-list>

                      <ion-item>
                        <ion-label>ESTETICA DE CABINA</ion-label>
                        <ion-select placeholder="Seleccione">
                          <ion-select-option value="0"> DS10 </ion-select-option>
                          <ion-select-option value="1"> ETC </ion-select-option>
                          <ion-select-option value="2"> OTRO </ion-select-option>
      
                        </ion-select>
                      </ion-item>
                    </ion-list>
              
                  </details>

                  
                  <details class="ocabina">
                      <summary>OBSERVACIONES DE CABINA</summary>
                      
                      <ion-item>
                        <ion-textarea></ion-textarea>
                          </ion-item>  
                    </details>

                    
                    <details class="aedificio">
                        <summary>ADAPTABILIDAD DE EDIFICIO</summary>
                        
                        <ion-list>

                          <ion-item>
                            <ion-label>TENSION DE FUERZA</ion-label>
                            <ion-select placeholder="Seleccione">
                              <ion-select-option value="0"> 220V </ion-select-option>
                              <ion-select-option value="1"> 330V </ion-select-option>
          
                            </ion-select>
                          </ion-item>
                        </ion-list>
                  
                      </details>

                      
                      <details class="cpprincipal">
                          <summary>CONTROL Y PISO PRINCIPAL</summary>
                          <ion-item>
                              <ion-label> RESCATE </ion-label>
                              <ion-checkbox slot="end"> </ion-checkbox> 
                            </ion-item>
                            <ion-item>
                              <ion-label> GENERADOR</ion-label>
                              <ion-checkbox slot="end"> </ion-checkbox> 
                            </ion-item>
                    
                    
                        </details>

                        <details class="observacion">
                            <summary>OBSERVACIONES</summary>
                 
                            <ion-item>
                          <ion-textarea ></ion-textarea>
                            </ion-item>                       

                          </details>


      </div>
    

</ion-content>
