<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2> AREA COMERCIAL </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <img src="assets/imgs/JYC_logo.png" class="img1">

  <ion-list>

    <ion-item routerLink= "/login">
      <ion-icon name="calendar" slot="start"></ion-icon>
        AGENDA

    </ion-item>

    <ion-item routerLink= "/r101">
      <ion-icon name="person-add" slot="start"></ion-icon>
        R - 101

    </ion-item>
    
    <ion-item routerLink= "/r102">
      <ion-icon name="book" slot="start"></ion-icon>
        R - 102

    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="document" slot="start"></ion-icon>
        R - 153

    </ion-item>

    <ion-item routerLink= "/login">
      <ion-icon name="search" slot="start"></ion-icon>
        BUSCAR
    </ion-item>
  </ion-list>



</ion-content>