<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h2>AREA COMERCIAL</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="assets/imgs/JYC_logo.png" class="img1" >
  <ion-grid>
    <ion-row>

      <ion-col size="6">
          <ion-button expand="block" fill="outline" color="secondary">Agenda
              <ion-icon slot="end" name="calendar"></ion-icon>
          </ion-button>        
     </ion-col>

      <ion-col size="6">
          <ion-button expand="block" fill="outline" color="secondary">R - 101
              <ion-icon slot="end" name="person-add"></ion-icon>
          </ion-button>         </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">
          <ion-button expand="block" fill="outline" color="secondary">R - 102
              <ion-icon slot="end" name="book"></ion-icon>
          </ion-button>   
      </ion-col>

      <ion-col size="6">
          <ion-button expand="block" fill="outline" color="secondary">R - 153
              <ion-icon slot="end" name="document"></ion-icon>
          </ion-button>     
         </ion-col>
    </ion-row>

    <ion-row justify-content-start >
        <ion-col size="3">

        </ion-col>
        <ion-col size="6">
            <ion-button expand="block" fill="outline" color="secondary">Buscar
                <ion-icon slot="end" name="search"></ion-icon>
            </ion-button>
            
          </ion-col>
        <ion-col size="3">
          
        </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>