<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> <h2> AREA PROYECTOS </h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="assets/imgs/JYC_logo.png" class="img1" >

    <ion-list>

      <ion-item routerLink= "/login">
        <ion-icon name="calendar" slot="start"></ion-icon>
          AGENDA
  
      </ion-item>
  
      <ion-item routerLink= "/login">
        <ion-icon name="map" slot="start"></ion-icon>
          R - 109
  
      </ion-item>

    </ion-list>  
      
</ion-content>
