<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> <h2> AREA PROYECTOS </h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="assets/imgs/JYC_logo.png" class="img1" >
    <ion-grid>
      <ion-row>
  
        <ion-col size="6">
            <ion-button expand="block" fill="outline" color="secondary">Agenda
                <ion-icon slot="end" name="calendar"></ion-icon>
            </ion-button>        
       </ion-col>
  
        <ion-col size="6">
            <ion-button expand="block" fill="outline" color="secondary">R - 109
                <ion-icon slot="end" name="map"></ion-icon>
            </ion-button>         
        </ion-col>
  
      </ion-row>

  
    </ion-grid>
  

</ion-content>
