<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h2> LOGIN </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="../../assets/imgs/JYC_logo.png" class="img1" >

  <ion-list>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button color="secondary" expand="block">Login</ion-button>
  </div>

</ion-content>